region           = "us-east-1"
title            = "techcorp"
web_instance_type = "t3.micro"
db_instance_type  = "t3.small"
key_pair_name    = "deployer-key"
deployer_public_key = "ssh-rsa AAAA...your-public-key-here"
web_password= "web_password"
current_ip = "YOUR_IP/32"
